@import url('https://fonts.googleapis.com/css?family=Londrina+Solid&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

html{
    font-size: 1.25em;
}

body{
    font-family: "Gudea", Helvetica, sans-serif;
    background-image: radial-gradient(at 80% 80%, #74b6d4 0%, #6094be 25%, #517dae 50%, #335492 75%, #1b3160  100%);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario{
    display: flex;
    align-items: center;
    height:75vh;
    width: 30vw;
    min-width: 300px;
    background-color: rgb(255,255,255);
    border-radius: 10px;
    box-shadow: 10px 10px 23px 0px rgba(102,87,102,0.79);
    padding: 20px;
    flex-direction: column;
    justify-content: center;
}

h1{
    margin-bottom: 20px;
    font-family: "Londrina Solid";
    color: #0085BA;
    text-shadow: #000 2px 2px;
    letter-spacing: 2px;
    font-size: 2.5em;
}

form{
    display: flex;
    margin: 0 auto;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

form label{
    align-self: flex-start;
}

input[type="email"],
input[type="password"]{
    width: 100%;
    margin: 0 0 15px 0;
    padding:10px 10px ;
    border: .5px solid #ccc;
    border-radius: 4px;
}

input[type="submit"]{
    padding:8px 70px;
    border-radius:50px;
    background-color: transparent;
    color: #0085BA;
    border: 2px solid #0085BA;
    margin:10px 0 20px 0;
    font-size: .7rem;
    text-transform: uppercase;
    transition-property:background,color;
    transition-duration:.5s;
    box-shadow: 0px 0px 50px -10px rgba(29, 130, 255, 0.45);
}

input[type="submit"]:hover{
    background-color: #0085BA;
    color: white;
    cursor: pointer;
}

.link{
    font-size: .7em;
}

@media only screen and (max-width: 972px){
    .formulario{
        height: 70%;
    }
}