@import url('https://fonts.googleapis.com/css?family=Gudea:400,700');
@import url('https://fonts.googleapis.com/css?family=Londrina+Solid&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 1.25em;
}

body{
    background-color: white;
    font-family: "Gudea", Helvetica, sans-serif;
    overflow-x: hidden;
}

.item a{
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    font-family: "Gudea", sans-serif;
    display: block;
}

nav {
    background: rgba(255,255,255,0.8);
    padding: 5px 20px;
    box-shadow: 10px 1px 36px -18px rgba(117,112,117,1);
    position: fixed;
    top: 0;
    width: 100vw;
  }

  ul {
    list-style-type: none;
  }
  a {
    color: white;
    text-decoration: none;
  }
  
  .logo a:hover {
    text-decoration: none;
  }
  .menu li {
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
  }

  .logo a{
    font-size:2.5em;
    color: #0085BA;
    text-shadow: #000 2px 2px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Londrina Solid";
  }

  .item:hover{
    background-color: rgba(0, 133, 186,0.4);
    cursor: pointer;
  }

  /* Mobile menu */
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .toggle {
    order: 1;
  }
  
  .item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
    border-top:1px solid rgb(243, 236, 236);
    transition-property:background,color;
    transition-duration:.5s;
  }
  
  .item.active {
    display: block;
  }
  
  /* Navbar Toggle */
  .toggle {
    cursor:pointer;
  }
  .bars {
    background: #999;
    display: inline-block;
    height: 2px;
    position: relative;
    margin: 0 10px 3px 0;
    transition: background .2s ease-out;
    width: 24px;
  }
  .bars:before,
  .bars:after {
    background: #999;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  .bars:before {
    top: 5px;
  }
  .bars:after {
    top: -5px;
  }

header{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    box-shadow:inset 0px 0px 10px 1px #dcdcdc;
    margin-bottom: 3em;
    background-image: radial-gradient(at 100% -100%, white 0%, #70b2d9 70%, #0085BA 100%);
    background-size: cover;

}

form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

form legend{
    align-self: flex-start;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

textarea{
    border: .5px solid #ccc;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1em;
    margin-bottom: 20px;
}

input[type="submit"]{
    padding:10px 90px;
    border-radius:50px;
    background-color: transparent;
    color: white;
    background-color: #335492;
    margin:20px 0 10px 0;
    font-size: .7rem;
    text-transform: uppercase;
    transition-property:background,color;
    transition-duration:.5s;
    box-shadow: 0px 0px 50px -10px rgba(29, 130, 255, 0.45);
    font-weight: 600;
    border: 1px solid #335492;
}

input[type="submit"]:hover{
    background-color: rgba(44, 57, 247, 0.5);
    color: white;
    cursor: pointer;
}

header h1{
    margin-top: 3em;
    font-size: 2.5em;
    color: white;
    text-shadow: black 2px 2px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Londrina Solid", sans-serif;
}

header p{
    width: 50%;
    margin: 2em 0;
    line-height: 1.2;
    padding: 2em 0;
}

.arrow{
    color: #335492;
    animation: bounce 1s infinite alternate;
    margin-bottom:2em;
}

@keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-15px);
    }
  }

  /*----------------------------*/

  main{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 0 3em 0;
  }

  .timeline{
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      width: 60%;
  }

  .pergunta-timeline{
      display: inherit;
      justify-content: inherit;
      align-items: inherit;
      flex-direction: inherit;
      color: white;
      background-image: radial-gradient(at 80% -100%, white 0%, #70b2d9 70%, #0085BA 100%);
      margin: 1em 0;
      border: 1px solid #ccc;
      border-radius: 20px;
      box-shadow: 10px 10px 10px 0px #dcdcdc;
      padding: 2em 4em;
      width: 30em;
  }

  .pergunta-timeline p{
      margin: 1em 0;
      text-align: center;
  }

  .pergunta{
    font-size: 1.5em;
}

  .pergunta-timeline div{
      width: 100%;
      margin: 1em 0;
      display: inherit;
      justify-content: space-around;
  }

    .pergunta-timeline div button{
        padding: 1em 4em;
        border-radius: 50px;
        border: none;
        cursor: pointer;
        background-color: #e7f3fb;
        transition:all 0.3s ease 0s;
        outline: none;
    }

    .agree:hover{
        background-image: linear-gradient(315deg, #39e5b6 0%, #70b2d9 74%);
        color: white;
    }

    .disagree:hover{
        background: linear-gradient(315deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
        color: white;
    }

/*----------------------------*/

footer{
    box-shadow: 0px 0px 10px 1px #dcdcdc;
    padding: 1em;
    text-align: center;
    width: 100vw;
}

footer p{
    margin: 2em 0;
}

strong{
    font-weight: bold;
}

/*---------------------------*/

@media (max-width: 750px){
    textarea{
        width: 85%;
    }
    legend{
        margin-left: 2em;
    }
}
@media (max-width: 415px){
    html{
        font-size: 1.12em;
    }

     header p{
      width: 80%;
      font-size: .8em !important;
     }

    .pergunta-timeline{
        width: 16em;
        height: 20em;
    }

    .pergunta{
        font-size: 1.1em !important;
    }

    div button{
        margin:0 .6em !important;
    }

    footer p{
        font-size: .8em !important;
    }
}

@media (min-width: 416px) and (max-width:650px){
    html{
        font-size: 1em;
    }
    header p{
        width: 70%;
    }
    .pergunta-timeline{
        width: 24em;
    }
}
/* Tablet menu */
@media all and (min-width: 468px) {
  .menu {
      justify-content: center;
  }

  .logo {
      flex: 1;
  }

  .toggle {
      order: 2;
  }

}

